<div class="content1 mb-2 d-flex justify-content-center">
    <%- include('./part/message')%>
        <div id="demo" class="carousel slide" data-bs-ride="carousel">

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            </div>

            <!-- The slideshow/carousel -->
            <div class="carousel-inner " style="padding: 50px;">
                <div class="carousel-item active">
                    <img src="img/freeship.jpg" alt="store" class=" d-block" style="width:800px; height:400px;">
                </div>
                <div class="carousel-item">
                    <img src="img/uudai.jpg" alt="uudai" class="d-block" style="width:800px;height:400px;">
                </div>
                <div class="carousel-item">
                    <img src="img/giaohang.png" alt="giaohang" class="d-block" style="width:800px;height:400px;">
                </div>
            </div>

            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
        </div>




</div>
<div class="container my-3 mt-2" style="font-family: 'Anton', sans-serif;">

    <div class="row">
        <h1 class="menu_home_title line_after_heading" style="font-family: 'Bebas Neue', cursive; margin-top:100px"><strong>MENU </strong>
            <a href="/function/allProduct" class="btn btn-outline-dark" style="float:right; width:200px; 
            height:40px;text-transform: uppercase;font-family: 'Anton', sans-serif; ">Tất cả sản phẩm</a> <br></h1>

        <%
            products.map(pro=>{%>
            <div class="row-sm-6 col-md-4 ">
                <div class="product-card" style="background:#ffbe76;border-radius: 5px;">
                    <div class="img">
                        <center><img src="<%= pro.imageSrc %>" width="100%" alt=""></center>
                    </div>
                    <br>
                    <div class="content">
                        <a href="">
                            <h3>
                                <%= pro.name%>
                            </h3>
                        </a>
                        <p>
                            <%= pro.info%>
                        </p>
                        <h4>
                            <%= Intl.NumberFormat().format(pro.price)%> Đ
                        </h4>
                        <a href="/cart/add/<%= pro._id %>" class="addToCart btn btn-outline-dark">Mua ngay</a>
                        <a href="/cart/add/<%= pro._id %>" class="addToCart btn btn-dark" style="color: #fff;">Tìm hiểu thêm</a>
                    </div>
                </div>
                <br>
            </div>
            <%})
       %>
                <br>
    </div>
    <hr> <br>


</div>
<div class="content mb-2" style="background-color: #000;">
    <div class="container my-3 mt-5 pt-5 ">
        <div class="row ">
            <h1 class="menu_home_title line_after_heading2" style="font-family: 'Bebas Neue', cursive;"><strong>BLOG </strong><a href="" class="btn btn-outline-light" style="float:right; width:200px; height:40px;text-transform: uppercase; color:#ea8025; font-family: 'Anton', sans-serif; ">Tất cả bài viết</a> <br></h1>
            <div class="col-md-12 bg-light pt-3 ">
                <img src="/img/banner_app.jpg" alt="" width="100%" height="350px"> <br><br>
            </div>

            <div class="col-md-12 bg-light" style=" margin-bottom: 50px; ">
                <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                <h1 style="font-size:20px; font-family: 'Anton', sans-serif;">THE HARLEY HOUSE GIAO HÀNG TẬN NƠI TẤT CẢ CÁC SẢN PHẨM CÀ PHÊ UỐNG LIỀN</h1>
                <p style="font-size:18px; font-family: 'Baloo Thambi 2', cursive;">Không để bạn chờ lâu trong mùa dịch này, từ nay THH chính thức mở lại dịch vụ giao hàng tận nơi cho khu vực Hồ Chí Minh... <a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

                <br>
                <br>
            </div>
            <div class="row-sm-6 col-md-4 bg-light pt-3" style=" margin-bottom: 50px; ">
                <div class="img">
                    <img src="/img/freeship.jpg" alt="" width="100%" height="200px"> <br><br>

                </div>
                <div class="content2" style=" margin-bottom: 50px; ">
                    <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                    <h1 style="font-size:20px;font-family: 'Anton', sans-serif; ">THÔNG BÁO: THE HARLEY HOUSE VỀ LẠI FREESHIP</h1>
                    <p style="font-family: 'Baloo Thambi 2', cursive;">Không để bạn chờ lâu trong mùa dịch này, từ nay THH chính thức mở lại dịch vụ giao hàng tận nơi cho khu vực Hồ Chí Minh... <a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

                </div>
            </div>

            <div class="row-sm-6 col-md-4 bg-light pt-3" style=" margin-bottom: 50px;  ">
                <div class="img">
                    <img src="/img/uudai.jpg" alt="" width="100%" height="200px"> <br><br>

                </div>
                <div class="content2" style=" margin-bottom: 50px; ">
                    <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                    <h1 style="font-size:20px;font-family: 'Anton', sans-serif; ">THE HARLEY HOUSE GIAO HÀNG TẬN NƠI TẤT CẢ CÁC SẢN PHẨM CÀ PHÊ UỐNG LIỀN</h1>
                    <p style="font-family: 'Baloo Thambi 2', cursive;">Không để bạn chờ lâu trong mùa dịch này, từ nay THH chính thức mở lại dịch vụ giao hàng tận nơi cho khu vực Hồ Chí Minh... <a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

                </div>
            </div>

            <div class="row-sm-6 col-md-4 bg-light pt-3 " style=" margin-bottom: 50px; ">
                <div class="img">
                    <img src="/img/giaohang.png" alt="" width="100%" height="200px"> <br><br>

                </div>
                <div class="content2" style=" margin-bottom: 50px; ">
                    <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                    <h1 style="font-size:20px; font-family: 'Anton', sans-serif; ">THE HARLEY HOUSE GIAO HÀNG TẬN NƠI TẤT CẢ CÁC SẢN PHẨM CÀ PHÊ UỐNG LIỀN</h1>
                    <p style="font-family: 'Baloo Thambi 2', cursive;">Không để bạn chờ lâu trong mùa dịch này, từ nay THH chính thức mở lại dịch vụ giao hàng tận nơi cho khu vực Hồ Chí Minh... <a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

                </div>
            </div>


        </div>
    </div>
</div>

<div class="content mb-2">
    <div class="container my-3 mt-5 pt-5 ">
        <div class="row">
            <h1 class="menu_home_title line_after_heading" style="font-family: 'Bebas Neue', cursive;"><strong>store</strong> <br></h1>
            <div class="col-md-6 col-sm-12 pt-3 ">

                <div class="txt" style="background: #ea8025; margin-right: -12px;
                height:400px;padding-top: 120px; padding-left: 20px; padding-right: 20px;color: #fff;">
                    <h1 style="font-family: 'Bebas Neue', cursive;">THE HARLEY SIGNATURE</h1>
                    <p style="font-family: 'Baloo Thambi 2', cursive;">Với những nghệ nhân rang tâm huyết và đội ngũ Barista tài năng cùng những câu chuyện cà phê đầy cảm hứng, ngôi nhà Signature 19B Phạm Ngọc Thạch, Q.3, TP.HCM là không gian dành riêng cho những ai trót yêu say đắm hương vị của những
                        hạt cà phê tuyệt hảo.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 pt-3 ">
                <div class="img">
                    <img src="/img/store.jpg" alt="" style=" width: 100%;height:400px; margin-left: -12px; ">
                </div>
            </div>

        </div>
        <br><br>
        <div class="row">
            <div class="col-md-3 col-sm-3">

                <img src="/img/tch1.jpg" alt="" style=" width: 100%; height:200px;">
            </div>
            <div class="col-md-3 col-sm-3">
                <img src="/img/tc2.jpg" alt="" style=" width: 100%; height:200px;">
            </div>
            <div class="col-md-3 col-sm-3">
                <img src="/img/tch3.jpg" alt="" style=" width: 100%;height:200px;">
            </div>
            <div class="col-md-3 col-sm-3">
                <img src="/img/tch4.jpg" alt="" style="width: 97%;height:200px;">
            </div>

        </div>
        <br><br>
    </div>
</div>
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-chevron-up"></i></button>