<div class="container mt-5">
    <center>
        <h1 style="color: rgb(153, 106, 18);margin-top:100px">Cart</h1>
    </center>

    <hr>
    <table class="table table-info table-striped">
        <tr>
            <th>Name</th>
            <th>Image</th>
           
            <th>Quantity</th>
            <th>Price</th>

            <th>Operation</th>

        </tr>


        <%
            cart.map(cart=>{%>
            <tr id="tr_cart_<%= cart.id %>">
                <th>
                    <%=  cart.item.name  %>
                </th>

                <th><img src="<%= cart.imageSrc %>" alt="" width="50px"></th>
            
              


                <th>
                    <div class="d-flex">
                        <form action="/cart/reduce/<%= cart.id %>?_method=PUT" method="POST" data-id="<%= cart.id %>" class="reduceCart">
                            <input type="submit" value="-" class="btn btn-outline-success">
                        </form>

                        <span id="qty<%= cart.id %>" style="margin-top: 6px;">
                            <span id="qty2<%= cart.id %>" style="margin: 10px; padding: 5px;"><%= cart.qty %> </span>
                        </span>

                        <form action="/cart/increase/<%= cart.id %>?_method=PUT" method="POST" data-id="<%= cart.id %>" class="increaseCart">
                            <input type="submit" value="+" class="btn btn-outline-success">
                        </form>
                    </div>
                </th>
                
                <th >
                    <%= Intl.NumberFormat().format(cart.item.price)   %>
                </th>

                <th>
                    <form action="/cart/<%= cart.id %>?_method=DELETE" method="POST" data-id="<%= cart.id %>" class="deleteCart">
                       
                        <button class="btn btn-danger" type="submit" value="Delete" ><i class="fa fa-trash" style="font-size: 20px; "></i></button>
                        
                    
                    </form>
                </th>
            </tr>
            <%})
        %>
    </table>
    <h1 id="total1">
        <span id="total2" >Total: <%= Intl.NumberFormat().format(total) %> VND</span>
    </h1>
    <a href="/cart/checkout/" class="btn btn-outline-success" style="float: right; width:40%">C H E C K  O U T</a>
    <a href="/" class="btn btn-outline-success" style="float: left; width:40%">M E N U</a>


</div>