<div class="container " style=" font-family: 'Montserrat', sans-serif;">
    
    <center>
        <h1 style="color: rgb(153, 106, 18);margin-top:100px; font-weight: bold;">Giỏ hàng của bạn</h1>
    </center>

    <hr>
    <a href="/" class="btn btn-primary" style="float: left; width: 110px; margin-bottom: 20px; ">Quay lại </i> </a>
    
    <table class="table table-light table-striped">
        <tr>
            <th scope="col">Tên món</th>
            <th scope="col">Ảnh</th>
            <th scope="col">Đơn giá</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Số tiền</th>

            <th scope="col"></th>

        </tr>


        <%
            cart.map(cart=>{%>
            <tr id="tr_cart_<%= cart.id %>">
                <th>
                    <%=  cart.item.name  %>
                </th>

                <th><img src="<%= cart.imageSrc %>" alt="" width="50px"></th>

                <th> <%=Intl.NumberFormat().format (cart.item.price) %> ₫</th>


                <th>
                    <div class="quantity d-flex">
                        <form action="/cart/reduce/<%= cart.id %>?_method=PUT" method="POST" data-id="<%= cart.id %>" class="reduceCart">
                            <input type="submit" value="-" class="btn btn-outline-primary">
                        </form>

                        <span id="qty<%= cart.id %>" style="margin-top: 6px;">
                            <span id="qty2<%= cart.id %>" style="margin: 10px; padding: 5px;"><%= cart.qty %> </span>
                        </span>

                        <form action="/cart/increase/<%= cart.id %>?_method=PUT" method="POST" data-id="<%= cart.id %>" class="increaseCart">
                            <input type="submit" value="+" class="btn btn-outline-primary">
                        </form>
                    </div>
                </th>

                <th>
                    <p id="temp1"><span id="temp2"> <%= Intl.NumberFormat().format(cart.item.price*cart.qty)   %> ₫</span></p>
                </th>

                <th>
                    <form action="/cart/<%= cart.id %>?_method=DELETE" method="POST" data-id="<%= cart.id %>" class="deleteCart">

                        <button class="btn btn-outline-danger" type="submit" value="Delete"><i class="fa fa-close" style="font-size: 20px; "></i></button>


                    </form>
                </th>
            </tr>
            <%})
        %>
    </table>
    <hr>
    

    

    <div class="row " style="margin-top: 30px;">
        <div class="col-sm-6">
            <div class="discount">
               <h4>Mã giảm giá</h4>
               <form action="#">
                    <input type="text" placeholder="Enter your coupon code">
                    <button type="submit" class="btn">Áp dụng phiếu giảm giá</button>
                </form>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="checkout">
                <h4>Hóa đơn </h4>
                <ul>
                    <li>
                       
                        <h4 id="total1">
                        <span>  Tổng cộng:</span>
                            <span  style="float: right;" id="total2">   <%= Intl.NumberFormat().format(total) %> ₫</span>
                        </h4>
                    </li>
                </ul>
                <a href="/cart/checkout/" class="btn btn-primary" style="float: right; width:40% ">Thanh toán</a>
            </div>
        </div>
    </div>


</div>