<div style="padding: 20px;" class="container mt-5">
    <%- include('../part/message') %>
        <div class="row">
            <div class="col-sm-6">
                <a href="/" class="btn btn-outline-success">Go back</a>
                <div class="form-group">
                    <form action="/cart/order" method="POST" style="padding: 50px;">
                        <div class="form-floating w-20 mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Name" required>
                            <label for="floatingInput">Name</label>
                        </div>
                        <div class="form-floating w-20 mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Address" required>
                            <label for="floatingInput">Address</label>
                        </div>
                        <div class="form-floating w-20">
                            <input type="text" class="form-control" id="floatingPassword" placeholder="Phone" required>
                            <label for="floatingPassword">Phone</label>
                        </div>
                        <input type="submit" class="order btn btn-primary mt-3 px-5 mb-5" value="Order" name="order">


                    </form>
                    <a href="/cart/pay" style="width: 200px; font-size:20px; color:#3498db; font-weight:bold;font-style: oblique;" class="btn btn-warning mt-2">
                        <i class="fa fa-paypal" style="font-size: 20px;"></i> <span style="color:navy; ">Pay</span>Pal</a> <br>
                </div>
            </div>
            <div class=" col-sm-6 mt-5">

                <%
        products.forEach(product=> {%>
                    <div style="width: 50%; margin-top:20px;margin-bottom:20px; background: orange;">
                        <%= product.item.name %>:(
                            <%= product.qty %>)
                                <span>--</span>
                                <%= product.item.price*product.qty %> vnđ
                    </div>
                    <%})
        %>
                        <div class="total">
                            <h1>Tổng tiền:
                                <%= total %> vnđ
                            </h1>


                        </div>
            </div>

        </div>
</div>