<div class="container " style="margin-top: 150px;">
    <a href="/admin" class="btn btn-outline-dark" type="button">Quay lại </a>
    <center>
        <h1 style="">Danh sách khách hàng</h1>
    </center>
    <hr>
    <%- include('../part/message') %>
        <table class="table table-light table-striped">
            <tr>
                <th>Tên khách hàng</th>

                <th>Email</th>

                <th>Mật khẩu</th>

                <th>Xóa</th>

            </tr>
            <%
        users.map(user=>{%>
                <tr>
                    <td>
                        <%= user.username %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.password %>
                    </td>

                    <td>
                        <%- include('../part/deleteForm',{url:`/user/delete/${user._id}?_method=DELETE`}) %>
                    </td>
                </tr>
                <%})
%>
        </table>
</div>